# See https://clang.llvm.org/extra/clang-tidy/ for a list of available checks.
# Disable everything first, then enable individual checks.
# - portability-avoid-pragma-once is deliberately disabled since Storm uses #pragma once everywhere.
Checks: >-
  -*,
  -portability-avoid-pragma-once,
  boost-use-to-string,
  bugprone-copy-constructor-init,
  bugprone-dangling-handle,
  bugprone-empty-catch,
  bugprone-implicit-widening-of-multiplication-result,
  bugprone-inc-dec-in-conditions,
  bugprone-infinite-loop,
  bugprone-misplaced-widening-cast,
  bugprone-move-forwarding-reference,
  bugprone-redundant-expression,
  bugprone-reserved-identifier,
  bugprone-signed-char-misuse,
  bugprone-switch-missing-default-case,
  bugprone-unused-local-non-trivial-variable,
  bugprone-unused-return-value,
  bugprone-use-after-move,
  bugprone-virtual-near-miss,
  misc-unused-using-decls,
  modernize-deprecated-headers,
  modernize-make-unique,
  modernize-use-bool-literals,
  modernize-use-nullptr,
  readability-braces-around-statements,
  readability-redundant-smartptr-get,
  readability-redundant-string-cstr,
  readability-static-accessed-through-instance
# Candidate checks that are not (yet) enabled:
# bugprone-branch-clone,
# clang-analyzer-core.*,
# clang-analyzer-cplusplus.*,
# clang-analyzer-deadcode.*,
# clang-analyzer-nullability.*,
# clang-analyzer-security.*,
# clang-analyzer-unix.*,
# misc-misplaced-const,
# misc-static-assert,
# misc-throw-by-value-catch-by-reference,
# modernize-make-shared,
# modernize-return-braced-init-list,
# modernize-use-default-member-init,
# modernize-use-using,
# performance-for-range-copy,
# performance-implicit-conversion-in-loop,
# performance-move-constructor-init,
# performance-unnecessary-copy-initialization,
# performance-unnecessary-value-param,
# readability-container-size-empty,
# readability-else-after-return,
# readability-non-const-parameter,
# readability-redundant-member-init,
# readability-simplify-boolean-expr,

# Only report diagnostics in src/ but not third-party or system headers.
# The regex also matches storm-*
HeaderFilterRegex: 'src/(storm|test)'
# Exclude any bundled third-party code.
# Avoids potential problems if its paths contains "src/storm/" as a substring.
ExcludeHeaderFilterRegex: '(_deps|resources/3rdparty)/'
SystemHeaders: false
FormatStyle: file
WarningsAsErrors: ''
